/* 帽子 */
.color-cap {
  background-color: #971203;
}
/* 衣服 */
.color-clothes {
  background-color: #971203;
}
/* 四肢 */
.color-limb {
  background-color: #f54936;
}
/* 皮肤 */
.color-skin {
  background-color: #ffd0a4;
}
/* 背包 */
.color-package {
  background-color: #006c57;
}
/* 滑雪板 */
.color-ski {
  background-color: #c3c4c8;
}
/* 滑雪杆 */
.color-skiPole {
  background-color: #c3c4c8;
}
/* 鞋子 */
.color-shoes {
  background-color: #101314;
}